menu "Bluepad32 Configuration"

choice TARGET_PLATFORM
    bool "Which Bluepad32 target platform"
    default BLUEPAD32_TARGET_PLATFORM_NONE
    help
        Select the Bluepad32 target platform. Select "None" to define it via command line.

    config BLUEPAD32_TARGET_PLATFORM_NONE
        bool "None"
    config BLUEPAD32_TARGET_PLATFORM_ARDUINO
        bool "Arduino"
    config BLUEPAD32_TARGET_PLATFORM_NINA
        bool "Nina"
    config BLUEPAD32_TARGET_PLATFORM_AIRLIFT
        bool "AirLift"
    config BLUEPAD32_TARGET_PLATFORM_UNIJOYSTICLE
        bool "Unijoysticle"
    config BLUEPAD32_TARGET_PLATFORM_MIGHTYMIGGY
        bool "MightyMiggy"

endchoice


endmenu
