# ESP32 options
CONFIG_SPI_FLASH_USE_LEGACY_IMPL=y
CONFIG_ESP_CONSOLE_NONE=y

# Bluepad32 options
# Only one can be selected.
#CONFIG_BLUEPAD32_PLATFORM_AIRLIFT=y
#CONFIG_BLUEPAD32_PLATFORM_ARDUINO=y
#CONFIG_BLUEPAD32_PLATFORM_MIGHTYMIGGY=y
CONFIG_BLUEPAD32_PLATFORM_NINA=y
#CONFIG_BLUEPAD32_PLATFORM_UNIJOYSTICLE=y

