#
# ESP32 options
#

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_ESP32_XTAL_FREQ_AUTO=y

CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ONLY=y
CONFIG_BTDM_CTRL_MODE_BTDM=y
CONFIG_BTDM_CTRL_BR_EDR_MAX_ACL_CONN=7
CONFIG_BTDM_CTRL_BR_EDR_MAX_SYNC_CONN=3

CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y

# Needed for NINA platform
CONFIG_SPI_FLASH_USE_LEGACY_IMPL=y

#
# Bluepad32 options
#

# Only one can be selected.
#CONFIG_BLUEPAD32_PLATFORM_AIRLIFT=y
#CONFIG_BLUEPAD32_PLATFORM_ARDUINO=y
#CONFIG_BLUEPAD32_PLATFORM_MIGHTYMIGGY=y
#CONFIG_BLUEPAD32_PLATFORM_NINA=y
#CONFIG_BLUEPAD32_PLATFORM_UNIJOYSTICLE=y

#
# Add here other options
#
